@import '../fonts/fonts.scss';
@import 'style0.scss';
@import 'header.scss';
@import 'footer.scss';


.container {
    max-width: 1020px;
    margin: 0 auto;
}

body {
    font-family: PT Serif;
}

a,
span {
    cursor: url('../img/news/cursor2.svg'), pointer;
}

.news_tittle {
    margin: 75px 0 51px;
    color: #0A0A0B;
    font-size: 65px;
    line-height: 67px;
}

.news {
    .new_items {
        column-count: 2;
        column-gap: 40px;

        .new_item {
            overflow: hidden;
            display: inline-block;
            width: 100%;
            word-wrap: break-word;
            margin-bottom: 35px;
            background: #FFF;
            box-shadow: 0px 22px 59px 0px rgba(42, 49, 141, 0.05);



            .new_item_tittle {
                margin: 50px 50px 0 50px;
                color: #131417;
                font-size: 24px;
                line-height: 28px;
            }

            .new_item_text {
                color: #696B70;
                font-size: 17px;
                line-height: 28px;
                margin: 26px 50px 22px;
            }

            .new_item_data {
                color: #BBB;
                font-size: 17px;
                line-height: 28px;
                margin: 0 50px 52px;
            }

        }
    }
}

.news_nav {
    .new_page {
        display: flex;

        li {
            margin: 0 20px 97px 20px;
            color: #131417;
            font-size: 28px;
        }

        a:visited {
            color: #131417;
        }

        li:nth-child(4) {
            color: var(--unnamed, #BA8226);
        }

        li:hover a {
            color: var(--unnamed, #BA8226);
        }

        li svg {
            fill: #BBB;
        }

        li:hover svg {
            fill: var(--unnamed, #BA8226);
        }
    }
}

@media all and (max-width: 1290px) {
    header .container {
        max-width: 1050px;
    }

    header .menu .menu_menu .menu_list {
        width: 570px;
    }

    footer .container {
        max-width: 1050px;
    }
}

@media all and (max-width: 1050px) {
    .container {
        max-width: 980px;
    }

    header .container {
        max-width: 980px;
        overflow: hidden;
    }

    header .menu .menu_menu .menu_list {
        width: 550px;
    }

    footer .container {
        max-width: 980px;
    }

}

@media all and (max-width: 980px) {
    .container {
        max-width: none;
        margin: 0 15px;
    }

    header .container {
        max-width: none;
        margin: 0 15px;
    }

    footer .container {
        max-width: none;
        margin: 0 15px;
    }

    .menu_menu {
        display: none;
    }

    .menu_check {
        display: none;
    }

    .active {
        display: inline-block;
    }

    .news .new_items {
        columns: 1;
    }

    .news .new_items .new_item .new_item_img {
        width: 100%;
    }

}

@media all and (max-width: 780px) {


    footer .container .footer {
        max-width: 350px;
        margin: 0 auto;
        padding: 10px 0;
        display: block;
    }

    footer .container .footer .fotter_img {
        margin: 30px 10px;
    }

    footer .container .footer .footer_navig {
        display: none;
    }


}