@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap");
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

a:visited {
  color: inherit;
}

/*--------------------*/
header {
  background: #000;
}
header a:visited {
  color: inherit;
}
header .container {
  max-width: 1440px;
}
header .menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0 19px;
}
header .menu .menu_menu .menu_list {
  display: flex;
  justify-content: space-between;
  width: 680px;
}
header .menu .menu_menu .menu_list li {
  color: #FFF;
  font-size: 16px;
  line-height: 120%;
}
header .menu .menu_menu .menu_list li .sub_menu {
  display: none;
  position: absolute;
  left: -50px;
  top: 15px;
  padding: 15px 0px 0px 0px;
  min-width: 230px;
}
header .menu .menu_menu .menu_list li .sub_menu li {
  color: #131417;
  text-align: center;
  font-size: 14px;
  line-height: 15px;
  background: rgb(184, 134, 11);
  padding: 20px;
  margin: 0;
}
header .menu .menu_menu .menu_list li .sub_menu li ul li {
  list-style: disc inside;
  padding: 10px;
}
header .menu .menu_menu .menu_list li .menu_svg {
  margin: 0 0 0 9px;
  position: relative;
}
header .menu .menu_menu .menu_list li .menu_svg:hover .sub_menu {
  display: block;
}
header .menu .menu_menu li:last-child {
  margin: 0;
}

.menu_check .menu_entry {
  color: var(--unnamed, #BA8226);
  font-size: 15px;
  line-height: 16px;
}
.menu_check .menu_check_in {
  display: inline-block;
  color: var(--unnamed, #BA8226);
  text-align: center;
  font-size: 14px;
  line-height: 42px;
  border: 2px solid var(--unnamed, #BA8226);
  padding: 0 12px 0 13px;
  margin: 0 0 0 29px;
}

.open {
  display: none;
  position: absolute;
  top: 40px;
  right: 50px;
}

.close {
  display: none;
  position: absolute;
  top: 40px;
  right: 50px;
  z-index: 10;
}

.menu_burger {
  display: none;
  width: 375px;
  background: #FFF;
  padding: 20px;
  position: absolute;
  top: 0;
  right: 0px;
  transition: 0.5s;
}
.menu_burger .menu_burger_entry {
  padding: 0 0 0 30px;
  color: #111215;
  font-size: 18px;
  line-height: 16px;
}
.menu_burger .menu_burger_check {
  color: #111215;
  text-align: center;
  font-size: 18px;
  line-height: 42px;
  display: inline-block;
  margin: 0 0 0 31px;
  padding: 0 15px;
  border: 2px solid rgba(105, 107, 112, 0.16);
}
.menu_burger p {
  color: var(--unnamed, #BA8226);
  text-align: center;
  font-size: 18px;
  line-height: 16px;
  margin: 40px 0 0 0;
}
.menu_burger ul li {
  color: #131417;
  text-align: center;
  font-size: 18px;
  line-height: 15px;
  margin: 10px 0;
}
.menu_burger ul li ul li {
  list-style: disc inside;
}

footer {
  background: #141416;
}
footer .container {
  max-width: 1200px;
}
footer .container .footer {
  display: flex;
  justify-content: space-between;
}
footer .container .footer .fotter_img {
  flex: 1 1 20%;
  margin: 133px 10px 104px 0;
}
footer .container .footer .fotter_img .footer_img_up .footer_name {
  color: #ECECEC;
  font-size: 17px;
  margin: 28px 0 39px 0;
}
footer .container .footer .fotter_img .footer_img_up a {
  display: inline-block;
  margin: 0 10px 0 0;
}
footer .container .footer .fotter_img .footer_img_down {
  color: #A8A8A8;
  font-size: 12px;
  line-height: 14px;
  margin: 77px 0 0 0;
}
footer .container .footer .fotter_img .footer_img_down div {
  margin: 0 0 22px 0;
}
footer .container .footer .fotter_img .footer_img_down div:last-child {
  margin: 0;
}
footer .container .footer .fotter_img .footer_img_down .second {
  display: flex;
}
footer .container .footer .fotter_img .footer_img_down .second p {
  margin: 0 19px 0 0;
}
footer .container .footer .footer_navig {
  margin: 133px 0 104px 10px;
  flex: 1 1 76%;
  display: flex;
  justify-content: space-between;
}
footer .container .footer .footer_navig .navig_item {
  flex: 1 1 30%;
  margin: 0 20px;
}
footer .container .footer .footer_navig .navig_item .navig_title {
  color: #A8A8A8;
  font-size: 16px;
  margin: 0 0 31px 0;
}
footer .container .footer .footer_navig .navig_item .navig_list li {
  color: #ECECEC;
  font-size: 13px;
  line-height: 15px;
  margin: 0 0 21px 0;
}
footer .container .footer .footer_navig .navig_item .navig_list li ul li::before {
  content: url(../img/main/Ellipse\ 1.svg);
  padding: 0 10px 0 0;
}

.container {
  max-width: 1020px;
  margin: 0 auto;
}

body {
  font-family: PT Serif;
}

a,
span {
  cursor: url("../img/news/cursor2.svg"), pointer;
}

.news_tittle {
  margin: 75px 0 51px;
  color: #0A0A0B;
  font-size: 65px;
  line-height: 67px;
}

.news .new_items {
  -moz-column-count: 2;
       column-count: 2;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
.news .new_items .new_item {
  overflow: hidden;
  display: inline-block;
  width: 100%;
  word-wrap: break-word;
  margin-bottom: 35px;
  background: #FFF;
  box-shadow: 0px 22px 59px 0px rgba(42, 49, 141, 0.05);
}
.news .new_items .new_item .new_item_tittle {
  margin: 50px 50px 0 50px;
  color: #131417;
  font-size: 24px;
  line-height: 28px;
}
.news .new_items .new_item .new_item_text {
  color: #696B70;
  font-size: 17px;
  line-height: 28px;
  margin: 26px 50px 22px;
}
.news .new_items .new_item .new_item_data {
  color: #BBB;
  font-size: 17px;
  line-height: 28px;
  margin: 0 50px 52px;
}

.news_nav .new_page {
  display: flex;
}
.news_nav .new_page li {
  margin: 0 20px 97px 20px;
  color: #131417;
  font-size: 28px;
}
.news_nav .new_page a:visited {
  color: #131417;
}
.news_nav .new_page li:nth-child(4) {
  color: var(--unnamed, #BA8226);
}
.news_nav .new_page li:hover a {
  color: var(--unnamed, #BA8226);
}
.news_nav .new_page li svg {
  fill: #BBB;
}
.news_nav .new_page li:hover svg {
  fill: var(--unnamed, #BA8226);
}

@media all and (max-width: 1290px) {
  header .container {
    max-width: 1050px;
  }
  header .menu .menu_menu .menu_list {
    width: 570px;
  }
  footer .container {
    max-width: 1050px;
  }
}
@media all and (max-width: 1050px) {
  .container {
    max-width: 980px;
  }
  header .container {
    max-width: 980px;
    overflow: hidden;
  }
  header .menu .menu_menu .menu_list {
    width: 550px;
  }
  footer .container {
    max-width: 980px;
  }
}
@media all and (max-width: 980px) {
  .container {
    max-width: none;
    margin: 0 15px;
  }
  header .container {
    max-width: none;
    margin: 0 15px;
  }
  footer .container {
    max-width: none;
    margin: 0 15px;
  }
  .menu_menu {
    display: none;
  }
  .menu_check {
    display: none;
  }
  .active {
    display: inline-block;
  }
  .news .new_items {
    -moz-columns: 1;
         columns: 1;
  }
  .news .new_items .new_item .new_item_img {
    width: 100%;
  }
}
@media all and (max-width: 780px) {
  footer .container .footer {
    max-width: 350px;
    margin: 0 auto;
    padding: 10px 0;
    display: block;
  }
  footer .container .footer .fotter_img {
    margin: 30px 10px;
  }
  footer .container .footer .footer_navig {
    display: none;
  }
}/*# sourceMappingURL=news.css.map */