@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap");
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

a:visited {
  color: inherit;
}

/*--------------------*/
header {
  background: #000;
}
header a:visited {
  color: inherit;
}
header .container {
  max-width: 1440px;
}
header .menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0 19px;
}
header .menu .menu_menu .menu_list {
  display: flex;
  justify-content: space-between;
  width: 680px;
}
header .menu .menu_menu .menu_list li {
  color: #FFF;
  font-size: 16px;
  line-height: 120%;
}
header .menu .menu_menu .menu_list li .sub_menu {
  display: none;
  position: absolute;
  left: -50px;
  top: 15px;
  padding: 15px 0px 0px 0px;
  min-width: 230px;
}
header .menu .menu_menu .menu_list li .sub_menu li {
  color: #131417;
  text-align: center;
  font-size: 14px;
  line-height: 15px;
  background: rgb(184, 134, 11);
  padding: 20px;
  margin: 0;
}
header .menu .menu_menu .menu_list li .sub_menu li ul li {
  list-style: disc inside;
  padding: 10px;
}
header .menu .menu_menu .menu_list li .menu_svg {
  margin: 0 0 0 9px;
  position: relative;
}
header .menu .menu_menu .menu_list li .menu_svg:hover .sub_menu {
  display: block;
}
header .menu .menu_menu li:last-child {
  margin: 0;
}

.menu_check .menu_entry {
  color: var(--unnamed, #BA8226);
  font-size: 15px;
  line-height: 16px;
}
.menu_check .menu_check_in {
  display: inline-block;
  color: var(--unnamed, #BA8226);
  text-align: center;
  font-size: 14px;
  line-height: 42px;
  border: 2px solid var(--unnamed, #BA8226);
  padding: 0 12px 0 13px;
  margin: 0 0 0 29px;
}

.open {
  display: none;
  position: absolute;
  top: 40px;
  right: 50px;
}

.close {
  display: none;
  position: absolute;
  top: 40px;
  right: 50px;
  z-index: 10;
}

.menu_burger {
  display: none;
  width: 375px;
  background: #FFF;
  padding: 20px;
  position: absolute;
  top: 0;
  right: 0px;
  transition: 0.5s;
}
.menu_burger .menu_burger_entry {
  padding: 0 0 0 30px;
  color: #111215;
  font-size: 18px;
  line-height: 16px;
}
.menu_burger .menu_burger_check {
  color: #111215;
  text-align: center;
  font-size: 18px;
  line-height: 42px;
  display: inline-block;
  margin: 0 0 0 31px;
  padding: 0 15px;
  border: 2px solid rgba(105, 107, 112, 0.16);
}
.menu_burger p {
  color: var(--unnamed, #BA8226);
  text-align: center;
  font-size: 18px;
  line-height: 16px;
  margin: 40px 0 0 0;
}
.menu_burger ul li {
  color: #131417;
  text-align: center;
  font-size: 18px;
  line-height: 15px;
  margin: 10px 0;
}
.menu_burger ul li ul li {
  list-style: disc inside;
}

footer {
  background: #141416;
}
footer .container {
  max-width: 1200px;
}
footer .container .footer {
  display: flex;
  justify-content: space-between;
}
footer .container .footer .fotter_img {
  flex: 1 1 20%;
  margin: 133px 10px 104px 0;
}
footer .container .footer .fotter_img .footer_img_up .footer_name {
  color: #ECECEC;
  font-size: 17px;
  margin: 28px 0 39px 0;
}
footer .container .footer .fotter_img .footer_img_up a {
  display: inline-block;
  margin: 0 10px 0 0;
}
footer .container .footer .fotter_img .footer_img_down {
  color: #A8A8A8;
  font-size: 12px;
  line-height: 14px;
  margin: 77px 0 0 0;
}
footer .container .footer .fotter_img .footer_img_down div {
  margin: 0 0 22px 0;
}
footer .container .footer .fotter_img .footer_img_down div:last-child {
  margin: 0;
}
footer .container .footer .fotter_img .footer_img_down .second {
  display: flex;
}
footer .container .footer .fotter_img .footer_img_down .second p {
  margin: 0 19px 0 0;
}
footer .container .footer .footer_navig {
  margin: 133px 0 104px 10px;
  flex: 1 1 76%;
  display: flex;
  justify-content: space-between;
}
footer .container .footer .footer_navig .navig_item {
  flex: 1 1 30%;
  margin: 0 20px;
}
footer .container .footer .footer_navig .navig_item .navig_title {
  color: #A8A8A8;
  font-size: 16px;
  margin: 0 0 31px 0;
}
footer .container .footer .footer_navig .navig_item .navig_list li {
  color: #ECECEC;
  font-size: 13px;
  line-height: 15px;
  margin: 0 0 21px 0;
}
footer .container .footer .footer_navig .navig_item .navig_list li ul li::before {
  content: url(../img/main/Ellipse\ 1.svg);
  padding: 0 10px 0 0;
}

body {
  font-family: PT Serif;
}

.container {
  max-width: 1020px;
  margin: 0 auto;
}

a,
span {
  cursor: url("../img/news/cursor2.svg"), pointer;
}

p {
  color: #3B3D40;
  font-size: 17px;
  line-height: 170%;
  margin: 20px 0;
}

.page_tittle {
  margin: 75px 0 12px;
}
.page_tittle h2 {
  color: #0A0A0B;
  font-size: 54px;
  line-height: 67px;
}
.page_tittle .page_tittle_data {
  color: #BBB;
  font-size: 17px;
  line-height: 28px;
  margin: 20px 0;
}

.page_new_img {
  margin: 0 0 50px 0;
}

.table {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr;
}
.table div {
  color: #000;
  font-size: 24px;
  line-height: 69px;
  background: #FAFAFB;
  padding: 0 0 0 34px;
}
.table .table_0,
.table .table_1,
.table .table_2,
.table .table_3 {
  color: #FFF;
  font-size: 15px;
  line-height: 58px;
  background: var(--unnamed, #BA8226);
}

.page_new ul li {
  color: #3B3D40;
  font-size: 17px;
  line-height: 170%;
  background: url("../img/page_1/Vector.png") 0 6px no-repeat;
  padding: 0 0 15px 50px;
}

.page_new_text p:last-of-type {
  font-weight: 700;
}

.page_new_button {
  margin: 71px 0 99px;
}
.page_new_button a {
  display: inline-block;
  border: 1px solid var(--unnamed, #BA8226);
  color: var(--unnamed, #BA8226);
  font-size: 14px;
  line-height: 38px;
  padding: 0 16px;
}
.page_new_button a:after {
  content: url("../img/page_1/arrow.svg");
  padding: 0 0 0 15px;
}

@media all and (max-width: 1290px) {
  header .container {
    max-width: 1050px;
  }
  header .menu .menu_menu .menu_list {
    width: 570px;
  }
  footer .container {
    max-width: 1050px;
  }
}
@media all and (max-width: 1050px) {
  .container {
    max-width: 980px;
  }
  header .container {
    max-width: 980px;
    overflow: hidden;
  }
  header .menu .menu_menu .menu_list {
    width: 550px;
  }
  footer .container {
    max-width: 980px;
  }
  .page_new_img img {
    width: 950px;
  }
}
@media all and (max-width: 980px) {
  .container {
    max-width: none;
    margin: 0 15px;
  }
  header .container {
    max-width: none;
    margin: 0 15px;
  }
  footer .container {
    max-width: none;
    margin: 0 15px;
  }
  .page_tittle h2 {
    font-size: 46px;
  }
  .page_new_img img {
    width: 100%;
  }
  .menu_menu {
    display: none;
  }
  .menu_check {
    display: none;
  }
  .active {
    display: inline-block;
  }
  .table {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
  .table div {
    color: #000;
    font-size: 20px;
    line-height: 69px;
    background: #FAFAFB;
    padding: 0 0 0 34px;
  }
  .table .table_1,
  .table .table_2,
  .table .table_3 {
    color: #FFF;
    font-size: 15px;
    line-height: 58px;
    background: var(--unnamed, #BA8226);
  }
  .table .table_0 {
    display: none;
  }
  .table .table_4 {
    grid-area: 1/1/2/6;
    text-align: center;
  }
  .table .table_5 {
    grid-area: 3/1/4/2;
  }
  .table .table_6 {
    grid-area: 3/2/4/3;
  }
  .table .table_7 {
    grid-area: 3/3/4/4;
  }
  .table .table_8 {
    grid-area: 4/1/5/4;
    text-align: center;
  }
  .table .table_9 {
    grid-area: 5/1/6/2;
  }
  .table .table_10 {
    grid-area: 5/2/6/3;
  }
  .table .table_11 {
    grid-area: 5/3/6/4;
  }
}
@media all and (max-width: 780px) {
  footer .container .footer {
    max-width: 350px;
    margin: 0 auto;
    padding: 10px 0;
    display: block;
  }
  footer .container .footer .fotter_img {
    margin: 30px 10px;
  }
  footer .container .footer .footer_navig {
    display: none;
  }
}/*# sourceMappingURL=page_1.css.map */