@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap");
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

a:visited {
  color: inherit;
}

/*--------------------*/
header {
  background: #000;
}
header a:visited {
  color: inherit;
}
header .container {
  max-width: 1440px;
}
header .container .menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0 19px;
}
header .container .menu .menu_menu .menu_list {
  display: flex;
  justify-content: space-between;
  width: 680px;
}
header .container .menu .menu_menu .menu_list li {
  color: #FFF;
  font-size: 16px;
  line-height: 120%;
}
header .container .menu .menu_menu .menu_list li .sub_menu {
  display: none;
  position: absolute;
  left: -50px;
  top: 15px;
  padding: 15px 0px 0px 0px;
  min-width: 230px;
}
header .container .menu .menu_menu .menu_list li .sub_menu li {
  color: #131417;
  text-align: center;
  font-size: 14px;
  line-height: 15px;
  background: rgb(184, 134, 11);
  padding: 20px;
  margin: 0;
}
header .container .menu .menu_menu .menu_list li .sub_menu li ul li {
  list-style: disc inside;
  padding: 10px;
}
header .container .menu .menu_menu .menu_list li .menu_svg {
  margin: 0 0 0 9px;
  position: relative;
}
header .container .menu .menu_menu .menu_list li .menu_svg:hover .sub_menu {
  display: block;
}
header .container .menu .menu_menu li:last-child {
  margin: 0;
}
header .menu_check .menu_entry {
  color: var(--unnamed, #BA8226);
  font-size: 15px;
  line-height: 16px;
}
header .menu_check .menu_check_in {
  display: inline-block;
  color: var(--unnamed, #BA8226);
  text-align: center;
  font-size: 14px;
  line-height: 42px;
  border: 2px solid var(--unnamed, #BA8226);
  padding: 0 12px 0 13px;
  margin: 0 0 0 29px;
}

footer {
  background: #141416;
}
footer .container {
  max-width: 1200px;
}
footer .container .footer {
  display: flex;
  justify-content: space-between;
}
footer .container .footer .fotter_img {
  flex: 1 1 20%;
  margin: 133px 10px 104px 0;
}
footer .container .footer .fotter_img .footer_img_up .footer_name {
  color: #ECECEC;
  font-size: 17px;
  margin: 28px 0 39px 0;
}
footer .container .footer .fotter_img .footer_img_up a {
  display: inline-block;
  margin: 0 10px 0 0;
}
footer .container .footer .fotter_img .footer_img_down {
  color: #A8A8A8;
  font-size: 12px;
  line-height: 14px;
  margin: 77px 0 0 0;
}
footer .container .footer .fotter_img .footer_img_down div {
  margin: 0 0 22px 0;
}
footer .container .footer .fotter_img .footer_img_down div:last-child {
  margin: 0;
}
footer .container .footer .fotter_img .footer_img_down .second {
  display: flex;
}
footer .container .footer .fotter_img .footer_img_down .second p {
  margin: 0 19px 0 0;
}
footer .container .footer .footer_navig {
  margin: 133px 0 104px 10px;
  flex: 1 1 76%;
  display: flex;
  justify-content: space-between;
}
footer .container .footer .footer_navig .navig_item {
  flex: 1 1 30%;
  margin: 0 20px;
}
footer .container .footer .footer_navig .navig_item .navig_title {
  color: #A8A8A8;
  font-size: 16px;
  margin: 0 0 31px 0;
}
footer .container .footer .footer_navig .navig_item .navig_list li {
  color: #ECECEC;
  font-size: 13px;
  line-height: 15px;
  margin: 0 0 21px 0;
}
footer .container .footer .footer_navig .navig_item .navig_list li ul li::before {
  content: url(../img/main/Ellipse\ 1.svg);
  padding: 0 10px 0 0;
}

body {
  font-family: PT Serif;
}

.container {
  max-width: 1020px;
  margin: 0 auto;
}

a,
span {
  cursor: url("../img/news/cursor2.svg"), pointer;
}

p {
  color: #3B3D40;
  font-size: 17px;
  line-height: 170%;
  margin: 20px 0;
}

.page_tittle {
  margin: 75px 0 12px;
}
.page_tittle h2 {
  color: #0A0A0B;
  font-size: 54px;
  line-height: 67px;
}
.page_tittle .page_tittle_data {
  color: #BBB;
  font-size: 17px;
  line-height: 28px;
  margin: 20px 0;
}

.page_new_img {
  margin: 0 0 50px 0;
}

.table {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr;
}
.table div {
  color: #000;
  font-size: 24px;
  line-height: 69px;
  background: #FAFAFB;
  padding: 0 0 0 34px;
}
.table .table_0,
.table .table_1,
.table .table_2,
.table .table_3 {
  color: #FFF;
  font-size: 15px;
  line-height: 58px;
  background: var(--unnamed, #BA8226);
}

.page_new ul li {
  color: #3B3D40;
  font-size: 17px;
  line-height: 170%;
  background: url("../img/page_1/Vector.png") 0 6px no-repeat;
  padding: 0 0 15px 50px;
}

.page_new_text p:last-of-type {
  font-weight: 700;
}

.page_new_button {
  margin: 71px 0 99px;
}
.page_new_button a {
  display: inline-block;
  border: 1px solid var(--unnamed, #BA8226);
  color: var(--unnamed, #BA8226);
  font-size: 14px;
  line-height: 38px;
  padding: 0 16px;
}
.page_new_button a:after {
  content: url("../img/page_1/arrow.svg");
  padding: 0 0 0 15px;
}/*# sourceMappingURL=page_1.css.map */