@import url("https://fonts.googleapis.com/css2?family=Ysabeau+Office:wght@400;700;800&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

.container {
  width: 1296px;
  margin: 0 auto;
}

h2 {
  font-family: "Ysabeau Office", sans-serif;
  font-size: 48px;
  font-weight: 800;
  line-height: 140%;
  letter-spacing: 0.48px;
  text-align: center;
}

.header_up {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.header_up .title {
  width: 217px;
  color: #EC1B2E;
  font-family: "Ysabeau Office", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 0.28px;
  text-transform: uppercase;
}
.header_up .title_contact {
  width: 674px;
}
.header_up .title_contact ul {
  display: flex;
  justify-content: space-between;
}
.header_up .title_contact li {
  font-family: "Ysabeau Office", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}
.header_up .title_contact li:last-child {
  margin: 0;
}
.header_up .title_contact img {
  margin: 0 20px 0 0;
}
.header_up .title_button {
  color: #fff;
  font-family: "Ysabeau Office", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  padding: 10px 20px;
  background: #EC1B2E;
}
.header_down {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_down .menu ul {
  display: flex;
}
.header_down .menu ul li {
  font-family: "Ysabeau Office", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 0.28px;
  text-transform: uppercase;
  margin: 0 20px 0 0;
}
.header_down .menu ul li:last-child {
  margin: 0;
}

.slider {
  background: url(../img/R.jpg) lightgray 50%/cover no-repeat no-repeat;
  overflow: hidden;
}
.slider .content {
  margin: 126px 597px 156px 90px;
}
.slider .content_text {
  background: rgba(51, 51, 51, 0.5);
  padding: 15px 30px;
  color: #fff;
  font-family: "Ysabeau Office", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: 140%;
}
.slider .content a {
  display: inline-block;
  color: #fff;
  font-family: "Ysabeau Office", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  background: var(--accent, #EC1B2E);
  margin: 50px 0 0 0;
  padding: 15px 30px;
}

.about .container {
  background: url(../img/Frame42.1.png) right center no-repeat;
}
.about_text {
  margin: 191px 560px 150px 90px;
  position: relative;
  border: 10px solid var(--accent, #EC1B2E);
  padding: 86px 90px 76px;
}
.about_text h2 {
  position: absolute;
  top: -41px;
  left: 60px;
  background: #fff;
  padding: 0 30px;
}
.about_text p {
  font-family: "Ysabeau Office", sans-serif;
  font-size: 18px;
  line-height: 140%;
  padding: 0 0 20px 0;
}
.about_text p:last-child {
  padding: 0;
}

.price ul.course {
  display: flex;
  margin: 150px -24px 100px -24px;
  justify-content: center;
  position: relative;
}
.price ul.course li {
  font-family: "Ysabeau Office", sans-serif;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 140%;
  padding: 0 24px;
}
.price ul.course li.orange {
  font-family: "Ysabeau Office", sans-serif;
  color: #FFF;
  text-align: center;
  font-size: 16px;
  line-height: 140%;
  padding: 12px 20px;
  background: var(--accent, #EC1B2E);
  align-self: flex-start;
  width: 175px;
}
.price ul.course li.orange:nth-child(2) {
  position: absolute;
  bottom: 81px;
  left: 145px;
}
.price ul.course li.orange:nth-child(4) {
  position: absolute;
  bottom: 81px;
  left: 432px;
}
.price .table {
  width: 1076px;
  margin: 0 auto;
}
.price .table .head {
  background: rgba(51, 51, 51, 0.05);
  display: flex;
  justify-content: space-between;
}
.price .table .head li {
  font-family: "Ysabeau Office", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 140%;
}
.price .table .head .one {
  flex: 1 0 15%;
}
.price .table .head .two {
  flex: 1 0 28%;
}
.price .table .head .three {
  flex: 1 0 57%;
}
.price .table .schedule {
  display: flex;
  border-bottom: 1px solid rgba(51, 51, 51, 0.2);
}
.price .table .schedule li {
  font-family: "Ysabeau Office", sans-serif;
  font-size: 18px;
  line-height: 140%;
  margin: 40px 0 30px;
}
.price .table .schedule .one {
  flex: 1 0 16%;
}
.price .table .schedule .two {
  flex: 1 0 29%;
}
.price .table .schedule .three {
  flex: 1 0 55%;
}
.price .table .schedule p {
  text-align: left;
  margin: 0 0 18px 0;
}
.price .table .schedule:last-child {
  border: none;
}

.exams {
  margin: 150px 0;
}
.exams .about_exams {
  display: flex;
}
.exams .about_exams .exam {
  margin: 100px 10px 0 10px;
}
.exams .about_exams .exam p {
  font-family: "Ysabeau Office", sans-serif;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 140%;
  margin: 30px 0 20px;
}
.exams .about_exams .exam ul {
  padding: 0 20px;
}
.exams .about_exams .exam ul li {
  font-family: "Ysabeau Office", sans-serif;
  list-style: disc;
  font-size: 16px;
  line-height: 140%;
  padding: 0 0 10px 0;
}
.exams .about_exams .exam a {
  display: inline-block;
  font-family: "Ysabeau Office", sans-serif;
  color: var(--white, #FFF);
  font-size: 16px;
  line-height: 140%;
  background: var(--accent, #EC1B2E);
  padding: 15px 30px;
  margin: 35px 71px 0 72px;
}

.event_label {
  font-family: "Ysabeau Office", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 140%;
  margin: 30px 0 15px 0;
}

.event_about {
  font-family: "Ysabeau Office", sans-serif;
  font-size: 16px;
  line-height: 140%;
}

.events .event {
  display: flex;
  margin: 100px 0 0 0;
}
.events .event .event_item {
  margin: 0 24px 0 0;
}
.events .event .event_item .event_text {
  margin: 0 30px;
  overflow: hidden;
}
.events .event .event_item .event_text a {
  display: inline-block;
  padding: 15px 30px;
  background: var(--accent, #EC1B2E);
  font-family: "Ysabeau Office", sans-serif;
  color: var(--white, #FFF);
  font-size: 20px;
  font-weight: 700;
  line-height: 140%;
  margin: 30px 0 0 0;
}
.events .event .event_item:last-child {
  margin: 0;
}

.news {
  margin: 150px 0 120px 0;
}
.news .new {
  margin: 70px 0 0 0;
  display: flex;
}
.news .new_item {
  flex: 1 0 24%;
  margin: 0 11px;
  display: flex;
  flex-direction: column;
}
.news .new .event_about {
  margin: 0 0 35px 0;
  flex: 1 1 auto;
}
.news .new a {
  display: inline-block;
  padding: 15px 30px;
  background: var(--accent, #EC1B2E);
  color: var(--white, #FFF);
  font-family: "Ysabeau Office", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 140%;
  align-self: flex-start;
}

.footer li {
  font-family: "Ysabeau Office", sans-serif;
  font-style: 14px;
  line-height: 140%;
  margin: 0 0 15px 0;
}
.footer li:last-child {
  margin: 0;
}
.footer_up {
  margin: 60px 0;
  display: flex;
  justify-content: space-between;
}
.footer_down {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid rgba(51, 51, 51, 0.3);
}
.footer_down p {
  font-family: "Ysabeau Office", sans-serif;
  text-align: right;
  font-size: 14px;
  line-height: 140%;
  opacity: 0.5;
}

.contact p {
  font-family: "Ysabeau Office", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 0.28px;
  text-transform: uppercase;
  margin: 0 0 42px 0;
}

.text_footer {
  font-family: "Ysabeau Office", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 140%;
  margin: 0 0 25px 0;
}
.text_footer:nth-child(3) {
  margin: 40px 0 25px 0;
}

.icons {
  display: flex;
  justify-content: space-around;
  margin: 42px 0 0 0;
}

.contact {
  flex: 1 1 15%;
}

.about_us {
  flex: 1 1 15%;
  margin: 0 69px 0 73px;
}

.pay_chine {
  flex: 1 1 15%;
}

.footer_exams {
  flex: 1 1 15%;
  margin: 0 69px;
}

.footer_school {
  flex: 1 1 18%;
}/*# sourceMappingURL=style.css.map */