@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Office:wght@400;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

.container {
    width: 1296px;
    margin: 0 auto;
}

h2 {
    font-family: 'Ysabeau Office', sans-serif;
    font-size: 48px;
    font-weight: 800;
    line-height: 140%;
    letter-spacing: 0.48px;
    text-align: center;
}

.header {
    &_up {
        height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid rgba(0, 0, 0, 0.3);

        .title {
            width: 217px;
            color: #EC1B2E;
            font-family: 'Ysabeau Office', sans-serif;
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: 140%;
            letter-spacing: 0.28px;
            text-transform: uppercase;

            &_contact {
                width: 674px;

                ul {
                    display: flex;
                    justify-content: space-between;
                }

                li {
                    font-family: 'Ysabeau Office', sans-serif;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 140%;
                }

                li:last-child {
                    margin: 0;
                }

                img {
                    margin: 0 20px 0 0;
                }
            }

            &_button {
                color: #fff;
                font-family: 'Ysabeau Office', sans-serif;
                font-size: 14px;
                font-style: normal;
                font-weight: 700;
                line-height: 140%;
                padding: 10px 20px;
                background: #EC1B2E;
            }
        }

    }

    &_down {
        height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .menu {
            ul {
                display: flex;

                li {
                    font-family: 'Ysabeau Office', sans-serif;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 140%;
                    letter-spacing: 0.28px;
                    text-transform: uppercase;
                    margin: 0 20px 0 0;
                }

                li:last-child {
                    margin: 0;
                }
            }
        }
    }
}

.slider {
    background: url(../img/R.jpg) lightgray 50% / cover no-repeat no-repeat;
    overflow: hidden;

    .content {
        margin: 126px 597px 156px 90px;


        &_text {
            background: rgba(51, 51, 51, 0.50);
            padding: 15px 30px;
            color: #fff;
            font-family: 'Ysabeau Office', sans-serif;
            font-size: 40px;
            font-style: normal;
            font-weight: 800;
            line-height: 140%;
        }

        a {
            display: inline-block;
            color: #fff;
            font-family: 'Ysabeau Office', sans-serif;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: 140%;
            background: var(--accent, #EC1B2E);
            margin: 50px 0 0 0;
            padding: 15px 30px;
        }
    }
}

.about {
    .container {
        background: url(../img/Frame42.1.png) right center no-repeat;
    }

    &_text {
        margin: 191px 560px 150px 90px;
        position: relative;
        border: 10px solid var(--accent, #EC1B2E);
        padding: 86px 90px 76px;

        h2 {
            position: absolute;
            top: -41px;
            left: 60px;
            background: #fff;
            padding: 0 30px;
        }

        p {
            font-family: 'Ysabeau Office', sans-serif;
            font-size: 18px;
            line-height: 140%;
            padding: 0 0 20px 0;
        }

        p:last-child {
            padding: 0;
        }
    }
}

.price {
    ul.course {
        display: flex;
        margin: 150px -24px 100px -24px;
        justify-content: center;
        position: relative;


        li {
            font-family: 'Ysabeau Office', sans-serif;
            text-align: center;
            font-size: 24px;
            font-weight: 700;
            line-height: 140%;
            padding: 0 24px;
        }

        li.orange {
            font-family: 'Ysabeau Office', sans-serif;
            color: #FFF;
            text-align: center;
            font-size: 16px;
            line-height: 140%;
            padding: 12px 20px;
            background: var(--accent, #EC1B2E);
            align-self: flex-start;
            width: 175px;
        }

        li.orange:nth-child(2) {
            position: absolute;
            bottom: 81px;
            left: 145px;
        }

        li.orange:nth-child(4) {
            position: absolute;
            bottom: 81px;
            left: 432px;
        }
    }

    .table {
        width: 1076px;
        margin: 0 auto;

        .head {

            background: rgba(51, 51, 51, 0.05);
            display: flex;
            justify-content: space-between;

            li {
                font-family: 'Ysabeau Office', sans-serif;
                font-size: 20px;
                font-weight: 700;
                line-height: 140%;
            }

            .one {
                flex: 1 0 15%;
            }

            .two {
                flex: 1 0 28%;
            }

            .three {
                flex: 1 0 57%;

            }
        }

        .schedule {
            display: flex;
            border-bottom: 1px solid rgba(51, 51, 51, 0.2);

            li {
                font-family: 'Ysabeau Office', sans-serif;
                font-size: 18px;
                line-height: 140%;
                margin: 40px 0 30px;
            }

            .one {
                flex: 1 0 16%;
            }

            .two {
                flex: 1 0 29%;
            }

            .three {
                flex: 1 0 55%;

            }

            p {
                text-align: left;
                margin: 0 0 18px 0;
            }
        }

        .schedule:last-child {
            border: none;
        }
    }
}

.exams {
    margin: 150px 0;

    .about_exams {
        display: flex;

        .exam {
            margin: 100px 10px 0 10px;

            p {
                font-family: 'Ysabeau Office', sans-serif;
                text-align: center;
                font-size: 24px;
                font-weight: 700;
                line-height: 140%;
                margin: 30px 0 20px;
            }

            ul {
                padding: 0 20px;

                li {
                    font-family: 'Ysabeau Office', sans-serif;
                    list-style: disc;
                    font-size: 16px;
                    line-height: 140%;
                    padding: 0 0 10px 0;
                }
            }

            a {
                display: inline-block;
                font-family: 'Ysabeau Office', sans-serif;
                color: var(--white, #FFF);
                font-size: 16px;
                line-height: 140%;
                background: var(--accent, #EC1B2E);
                padding: 15px 30px;
                margin: 35px 71px 0 72px;
            }
        }
    }
}

.event_label {
    font-family: 'Ysabeau Office', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 140%;
    margin: 30px 0 15px 0;
}

.event_about {
    font-family: 'Ysabeau Office', sans-serif;
    font-size: 16px;
    line-height: 140%;
}

.events {
    .event {
        display: flex;
        margin: 100px 0 0 0;

        .event_item {
            margin: 0 24px 0 0;

            .event_text {
                margin: 0 30px;
                overflow: hidden;

                a {
                    display: inline-block;
                    padding: 15px 30px;
                    background: var(--accent, #EC1B2E);
                    font-family: 'Ysabeau Office', sans-serif;
                    color: var(--white, #FFF);
                    font-size: 20px;
                    font-weight: 700;
                    line-height: 140%;
                    margin: 30px 0 0 0;
                }
            }
        }

        .event_item:last-child {
            margin: 0;
        }

    }
}

.news {
    margin: 150px 0 120px 0;

    .new {
        margin: 70px 0 0 0;
        display: flex;

        &_item {
            flex: 1 0 24%;
            margin: 0 11px;
            display: flex;
            flex-direction: column;
            
        }
.event_about{
    margin: 0 0 35px 0;
    flex: 1 1 auto;
    
}
        a {
            display: inline-block;
            padding: 15px 30px;
            background: var(--accent, #EC1B2E);
            color: var(--white, #FFF);
            font-family: 'Ysabeau Office', sans-serif;
            font-size: 20px;
            font-weight: 700;
            line-height: 140%;
            align-self: flex-start;
            
        }
    }
}