.link::before{
    content: url('img/extref.png');
}
.name {
    font-size: 24px;
    font-weight: 700;
}
.birthdate {
    color: green;
}
.title {
    color: red;
    font-weight: 700;
}
.about {
    color: blue;
    font-style: italic;
}
.link{
    text-decoration: none;
}