table.CHESS {
    border-collapse: collapse;
 }

table.CHESS td {
    width: 50px;
    height: 50px;
    border: solid gray 1px;
}
tr:nth-of-type(odd) td:nth-of-type(even) {
    background-color: black;
}
tr:nth-of-type(even) td:nth-of-type(odd) {
    background-color: black;
}
.CHESS tr:last-of-type td {
    background: rgb(56, 170, 56);
    height: 20px;
}

.CHESS tr:first-of-type td {
    background: rgb(56, 170, 56);
    height: 20px;
}
.CHESS tr td:first-child {
    background: rgb(56, 170, 56);
    width: 20px;
}
.CHESS tr td:last-child {
    background: rgb(56, 170, 56);
    width: 20px;
}

